/*.backImg {
    background-image: url("");
    background-color: transparent;
}*/

body {
    background-color: lightgray;
}

.center {
    text-align: center;
}

header h1 {
    color: black;
}

.box {
    inline-size: 500px;
}

.topTitle h1 {
    color: #609F92;
}

p {
    color: #72609F;
    text-align: center;
}

.cusTitle h2 {
    color: #8D9F60;
    text-align: left;
}


/*BOOTSTRAP CSS*/

/*.my-nav {*/
/*    background-color: red !important;*/
/*}*/

/*STYLING FOR NAV BAR AND HERO HOME SECTION*/

nav {
    background-color: #092C48;
}

.body-color {
    background-color: #092C48 !important;
}

* #home {
    background-color: #092C48;
}

* #hero-photo {
    border: 10px solid;
    border-radius: 15px;
    border-image: round linear-gradient(black, slategrey) 20;
}

/*.main-wrapper {*/
/*    height: available;*/
/*}*/


/*STYLING FOR CARDS IN RECENT WORK SECTION*/

.recent-work h1 {
    color: #A3B7F9 !important;
}

.card-image-top {
    border: 3px;
    border-radius: 5px;
    width: 418px;
    height: 225px;
    object-fit: contain;
}

/*@media only screen and (min-width: 768px) {*/
/*    .card {*/
/*        display: block !important;*/
/*        width: 25rem !important;*/
/*        flex: none !important;*/
/*    }*/
/*}*/

.card-body {
    color: #383745;

}

.card-body p.card-text {
    margin: 0;
    padding: 0;
    text-transform: none;
    color: #2A385B;
}

.card {
    background-color: #6F7498 !important;
}

/*STYLING FOR CONTACT SECTION*/
* #contact {
    color: #A3B7F9 !important;
}

* #submit-contact {
    background-color: #6F7498 !important;
}

/*STYLING FOR FOOTER SECTION*/

.footer-content {
    background-color: #092C48 !important;
}

.link-email {
    color: #A3B7F9 !important;
}