/*.backImg {
    background-image: url("");
    background-color: transparent;
}*/

body {
    background-color: lightgray;
}

.center {
    text-align: center;
}

header h1 {
    color: black;
}

.box {
    inline-size: 500px;
}

.topTitle h1 {
    color: #609F92;
}

p {
    color: #72609F;
    text-align: center;
}

.cusTitle h2 {
    color: #8D9F60;
    text-align: left;
}


/*BOOTSTRAP CSS*/

.my-nav {
    background-color: red !important;
}

.body-color {
    background-color: #6C0BA9 !important;
}